#timer{
    color: white;
}




#startPage{
    display: flex;
    justify-content: center;
    align-items: center;

}


#startButton {
    background-color: #e4f40b;
    color: #040404; 
    padding: 10px 20px;
    font-size: 3rem;
    cursor: pointer;
    border: 2px solid blue;
    border-radius: 15px;
    margin-top:52rem ;
   

}

#startButton:hover {
    background-color: #929f03; 
    color: white; 

}




body {
    width: 100%;
    overflow: hidden;
    background: url("start.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
  }
  #board {
    position: relative;
    /* width: 50vw; */
    width: 90vw;
    height: 80vh;
    margin: 40px auto;
    border: 2px solid white;
    background-color: rgb(13, 12, 12);
    overflow: hidden;
    margin-top: 6rem;
  }

  #jet {
    position: absolute;
    width: 10vw;
    height: 10vh;
    background: url("jet.png");
    background-size: contain;
    background-repeat: no-repeat;
    left: 50%;
    bottom: 0px;
  }

  .bullets {
    position: absolute;
    bottom: 40px;
    left: 51%;
    width: 1.5vw;
    height: 1.5vh;
    background: url("bullet.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .rocks {
    position: absolute;
    top: 0px;
    width: 11vw;
    height: 11vh;
    background: url("alien.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
 



  *{margin: 0; padding: 0; font-family: 'Josefin Sans', sans-serif;}
  body{
     overflow: hidden;
  }
  
  .custom-modal-dialog {
     max-width: 800px; 
     width: 100%; 
     /* margin: 10vh auto; */
     
  }
  
  .modal-content {
  /* background-color: #aae4f3;  */
  background-color: rgb(18, 17, 17);
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Box shadow */
  background-size: cover; /* or 'contain' based on your preference */
  border: 5px solid #bec536;
  /* border-radius: 10px; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
  width:90%; /* Set your desired width */
  max-width: 800px; /* Set your desired maximum width */
  margin: auto; /* Center the modal horizontally */
  }
  
  
  
  .modal-header {
  /* overflow: hidden; */
  border-radius: 50px;
  height: 9vh;
  /* width: 34.3vw; */
  display: flex;
  justify-content: end;
  background-image: url('assets/images/popup.png');
  background-size: cover;  
  background-position: center;
  
  }
  
  
  
  
  #timer-icon {
  
  width: 5vh;
  height: 5vh;
  position: absolute;
  left:0%;
  z-index: 1;
  }
  
  
  .modal-body {
  text-align: center;
  }
  
  
  #contentDiv{
  height: auto;
  max-height: 25vh;
  margin: 2%;
  
  }
  
  
  
  @keyframes fadeInLeft {
  from {
  opacity: 0;
  transform: translateX(-100%);
  }
  to {
  opacity: 1;
  transform: translateX(0);
  }
  }
  
  @keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
  transform: translateY(0);
  }
  40% {
  transform: translateY(-10px);
  }
  60% {
  transform: translateY(-5px);
  }
  }
  
  .radio-container label {
    margin-bottom: 10px;
    border-radius: 17px;
    font-size: 21px;
    background-color: rgb(233, 236, 210);
    color: #131212;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    animation: fadeInLeft 0.5s ease;
    border: 2px solid rgb(182, 225, 81);
    font-weight: 600;
}
  
  .radio-container label:hover {
  background-color: #a2a9af;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* transform: scale(1.1);  */
  }
  
  
  
  
  input{
  margin-right: 2%;
  }
  
  
  #continueButton {
      
      color: #0b0b0b;
      background-color:#d8e452;
      padding: 20px;
      height: 12vh;
      width: 12vw;
      cursor: pointer;
      font-size: 1.5rem;
      font-weight: 600;
      /* clip-path: polygon(15% 40%, 76% 40%, 90% 57%, 76% 73%, 13% 73%, 0 57%); */
      /* clip-path: polygon(15% 37%, 76% 38%, 86% 57%, 75% 73%, 16% 73%, 4% 57%); */
      clip-path: polygon(14% 33%, 77% 34%, 86% 57%, 76% 80%, 14% 80%, 4% 57%);
      /* text-align: center; */
      padding-bottom: 1px;
      padding-left: 2px;
      
  }
  
  
  
  #continueButton:hover {
  background-color: #808181; /* Change background color on hover */
  }
  
  
  #error-text {
  color: #c30202; 
  font-size: 1.5rem; /* Font size */
  margin-top: 10px; /* Margin at the top */
  font-weight: 500;
  text-align: center;
  }
  
  
  
  .hide {
     display: none;
  }
  
  
  
  .radio-container {
     padding: 0% 3%;
  }
  
  
  
  
  .modal-body {
     text-align: center;
  }
  
  #questionText {
     font-size: 1.5em;
     font-weight: 600;
     margin-bottom: 0.1px;
     color: #090808;
     text-align: left;
     background-color: #d8e452;
     border-radius: 17px;
     padding: 0.5rem;
  
  }
  
  
  #error-text {
     color: #f01111;
     font-size: 1.5rem;
     margin-top: 10px;
     font-weight: 500;
     text-align: center;
  }
  
  .timerContainer {
     
     color: #0c0b0b;
     font-size: 1.3em;
     background-color: white;
     border: yellow;
     position: relative;
     /* padding: 5px; */
     box-shadow: 0 0 10px rgba(41, 38, 38, 0.2);
     border-radius: 30px;
     width: 21%;
     height: 5vh;
     display: flex;
     justify-content: end;
     align-items: center;
     /* gap: 1em; */
     padding-right:10px;
     /* padding: 10px; */
     text-align: end;
  }
  
  
  .modal-body {
     text-align: center;
  }
  
  

  #error-text {
     color: #f01111;
     font-size: 1.5rem;
     margin-top: 10px;
     font-weight: 500;
     text-align: center;
  }
  .modal-footer {
      display: flex;
      justify-content: center;
      align-items: center;
     padding-bottom: -0.25rem;

     
   
   }
  
  
  @media (max-width: 480px) {


    #startButton {
        font-size: 2rem; 
        margin-top: 38rem; 
    }

  
    #board {
        position: relative;
        /* width: 50vw; */
        width: 90vw;
        height: 80vh;
        margin: 40px auto;
        border: 2px solid white;
        background-color: rgb(13, 12, 12);
        overflow: hidden;
        margin-top: 4.5rem;
      }
    
        
  
      #continueButton {
          height: 12vh;
          width: 40vw; 
          padding-bottom: 6px;
  
      }
     
  
  .hide {
     display: none;
  }
  
  
  
  .radio-container {
     padding: 0% 3%;
  }
  
  
  
  #questionText {
      font-weight: 600;
      color: #c4bfbf; /* Dark text color */
      text-align: left;
      margin: 1%;
     font-size: 1.5em;
     color: #090808;
     text-align: left;
     background-color:#d8e452;
     border-radius: 17px;
     padding: 5px;
  
  }
  
  
  .modal-footer {
     display: flex;
     justify-content: center;
     align-items: center;
     /* height: 20vh; */
     /* padding-bottom: 3rem; */
  
  }
  
  
  
  #error-text {
     color: #f01111;
     font-size: 1.5rem;
     margin-top: 10px;
     font-weight: 500;
     text-align: center;
  }
  
  .timerContainer {
      width: 40%;
      text-align: end;
     color: #0c0b0b;
     font-size: 1.3em;
     background-color: white;
     border: yellow;
     position: relative;
     /* padding: 5px; */
     box-shadow: 0 0 10px rgba(41, 38, 38, 0.2);
     border-radius: 30px;
     height: 5vh;
     display: flex;
     justify-content: end;
     align-items: center;
     /* gap: 1em; */
     padding-right:10px;
     /* padding: 10px; */
  }
  
  
      .gameArea {
          width: calc(100% - 14px);
          height: 100vh;
          background: #2d3436;
      }
  
  
  #error-text {
      color: #f01111;
      font-size: 1.5rem;
      margin-top: 10px;
      font-weight: 500;
      text-align: center;
  }
  
  
  
      .modal-header{
          background-size: cover;  
          background-position: center;
          background-size: contain; /* Adjust as needed */
  
      }
      .startScreen {
          
          background-position-x: 38%;
      }
  
  }
  





  
  /* @media (max-width: 768px) {
      .popup {
          padding: 15px;
          border-radius: 8px;
      }
  
      .close {
          top: 5px;
          right: 5px;
          font-size: 16px;
      }
  
  
      .newPopup {
          padding: 15px;
          border-radius: 8px;
      }
  
      .newClose {
          top: 5px;
          right: 5px;
          font-size: 16px;
      }
  } */